<!-- <p>uploadbook works!</p>

<div class="container col-md-4">
      <div class="form-sec">
            <h3>Book Details</h3>
            <div class="mx-auto">
                  <form #BookDetailsForm="ngForm">
                         {{bookModel |json}} -->
<!-- <div class="form-group">
      <label>Book Title</label>
      <input type="text" class="form-control" required [class.is-invalid]="BookTitle.invalid && BookTitle.touched"
            #BookTitle="ngModel" [(ngModel)]="bookmodel.BookTitle" placeholder="Enter Book Title" name="BookTitle">
      <small class="text-danger" [class.d-none]='BookTitle.valid||BookTitle.untouched'>Book
            Title is required </small>
</div>
<br>
<div class="form-group ">
      <label>Book Author</label>
      <input class="form-control" #BookAuthor="ngModel" [(ngModel)]="bookmodel.BookAuthor"
            [class.is-invalid]="BookAuthor.invalid && BookAuthor.touched" type="text" placeholder="Enter Book Author"
            name="BookAuthor">
      <small class="text-danger" [class.d-none]='BookAuthor.valid||BookAuthor.untouched'>Book
            Author is required </small>
</div>
<br>
<div class="form-group">
      <label>Total Pages</label>
      <input type="text" #totalPages="ngModel" pattern="^[0-9]$" [(ngModel)]="bookmodel.totalPages" class="form-control"
            placeholder="Enter total pages" name="totalPages">
      <small class="text-danger" [class.d-none]='totalPages.valid||totalPages.untouched'>Total
            number of pages is required and must be in digits </small>
</div>
<br>
<div class="form-group">
      <label>Book Category</label>
      <select class="form-control form-select col-md-12" name="Category">
            <option value="">Choose book category here</option>
            <option *ngFor="let Category of Category">{{ Category}}</option>
      </select>
</div>
<br>
<div class="form-group ">
      <label>Book Description</label>
      <textarea name="description" required #description="ngModel"
            [class.is-invalid]="description.invalid && description.touched" [(ngModel)]="bookmodel.description"
            [class.is-invalid]="description.invalid && description.touched" class="form-control"
            placeholder="Enter book description here"></textarea>
      <small class="text-danger" [class.d-none]='description.valid||description.untouched'>Book
            description is required </small>

</div>
<br> -->
<!-- <div class="container row">
                      <div class="form-group col-md-6">
                          <input type="file" (change)="onFileCHanged($event)">
                      </div>
                  </div>
                  <br> -->
<!-- <div class="container row">
                      
                      <input type="button"  class="form-group" (click)="onUpload()" value="upload">
                  </div>
                  <br>
                  <div class="container row">
                      <div class="form-group col-md-12">
                         <div *ngIf=msg>{{msg}}</div> 
                      </div>
                  </div>-->
<!-- <div class="form-group">
      <button type="submit" class="btn btn-danger">Submit</button>
</div>
</form>
</div>
</div>
</div> --> -->