<app-innerheader></app-innerheader>
<div class="container col-md-4">
      <div class="form-sec">
            <h3>Book Details</h3>
            <div class="mx-auto">
                  <form #BookDetailsForm="ngForm" (ngSubmit)="uploadBook()">
                        <!-- {{bookModel |json}} -->
                        <div class="form-group">
                              <label>Book Title</label>
                              <input type="text" class="form-control" required
                                    [class.is-invalid]="bookTitle.invalid && bookTitle.touched" #bookTitle="ngModel"
                                    [(ngModel)]="book.bookTitle" placeholder="Enter Book Title" name="bookTitle">
                              <small class="text-danger" [class.d-none]='bookTitle.valid||bookTitle.untouched'>Book
                                    Title is required </small>
                        </div>

                        <div class="form-group ">
                              <label>Book Author</label>
                              <input class="form-control" #bookAuthor="ngModel" [(ngModel)]="book.bookAuthor"
                                    [class.is-invalid]="bookAuthor.invalid && bookAuthor.touched" type="text"
                                    placeholder="Enter Book Author" name="bookAuthor">
                              <small class="text-danger" [class.d-none]='bookAuthor.valid||bookAuthor.untouched'>Book
                                    Author is required </small>
                        </div>

                        <div class="form-group">
                              <label>Total Pages</label>
                              <input type="text" #noOfPages="ngModel" pattern="^[0-9]*$" [(ngModel)]="book.noOfPages"
                                    class="form-control" placeholder="Enter total pages" name="noOfPages">
                              <small class="text-danger" [class.d-none]='noOfPages.valid||noOfPages.untouched'>Total
                                    number of pages is required and must be in digits </small>
                        </div>

                        <div class="form-group">
                              <label>Book Category</label>
                              <select class="form-control form-select col-md-12" name="categoryName">
                                    <option value="">Choose book category here</option>
                                    <option *ngFor="let Category of Category">{{ Category}}</option>
                              </select>
                        </div>

                        <div class="form-group ">
                              <label>Book Description</label>
                              <textarea name="bookDescription" required #bookDescription="ngModel"
                                    [class.is-invalid]="bookDescription.invalid && bookDescription.touched"
                                    [(ngModel)]="book.bookDescription"
                                    [class.is-invalid]="bookDescription.invalid && bookDescription.touched"
                                    class="form-control" placeholder="Enter book description here"></textarea>
                              <small class="text-danger"
                                    [class.d-none]='bookDescription.valid||bookDescription.untouched'>Book
                                    description is required </small>

                        </div>

                        <!-- <div class="container row">
                              <div class="form-group col-md-6">
                                    <input type="file" (change)="onFileCHanged($event)">
                              </div>
                        </div>
                        <br>
                        <div class="container row">

                              <input type="button" class="form-group" (click)="onUpload()" value="upload">
                        </div>
                        <br>
                        <div class="container row">
                              <div class="form-group col-md-12">
                                    <div *ngIf=msg>{{msg}}</div>
                              </div>
                        </div>-->
                        <div class="form-group">
                              <button type="submit" class="btn btn-danger"
                                    [disabled]="BookDetailsForm.invalid">Submit</button>
                        </div>
                  </form>
            </div>
      </div>
</div>