<p>forgotpassword works!</p>
<div class="container-fluid my-3">
      <div class="row justify-content-around">
            <div class="col-md-7 bg-light shadow px-4 pt-4">
                  <h4 class="display-4 ">
                        <i class="fa fa-user-plus"></i>Forgot Password
                  </h4>
                  <hr>
                  <form #userFormControl="ngForm">
                        <small class="text-danger">
                              {{msg}}
                        </small>
                        <fieldset>
                              <div class="row">

                                    <div class="form-group col-md-12" [class.has-error]="email.invalid && email.touched"
                                          [class.has-success]="email.valid">
                                          <label for="Email" class="control-label">Email</label>
                                          <input type="email" [(ngModel)]="user.email" name="email" id="email"
                                                class="form-control" placeholder="Enter Email" #email="ngModel" required
                                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                                          <span class="help-block text-danger"
                                                *ngIf="email.hasError('required') && email.touched">
                                                Email-Id is required
                                          </span>
                                          <span class="help-block text-danger"
                                                *ngIf="email.hasError('pattern') && email.touched">
                                                Not a valid Email
                                          </span>
                                    </div>
                              </div>

                              <div class="form-group ">
                                    <button type="submit" class="btn btn-success" [disabled]="userFormControl.invalid"
                                          (click)="sendMailUser()">Send Mail</button>

                                    <button type="reset" class="btn btn-danger">Reset</button>
                              </div>
                        </fieldset>
                  </form>
            </div>
      </div>
</div>