<div class="container col-md-5">
      <h2>Creativity Gallery</h2>
      <div *ngFor="let creativity of allcreativity ">

            <div class="card-group">
                  <div class="card  bg-success" style="height:150px">
                        <div class="card-body text-center">
                              <p class="card-text text-light">{{creativity.content}}</p>
                        </div>
                        <div class="d-flex bg-light flex-column bd-highlight mb-3">
                        </div>
                  </div>
            </div>
      </div>

</div>