<!-- <nav class="navbar navbar-expand-lg navbar-light bg-dark">


      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                  <a [routerLink]="['/adminhomepage/userlist']" routerLinkActive="active"
                        class="nav-item nav-link text-primary">User
                        List </a>
                  <a class="nav-item nav-link text-primary" href="#">Book List</a>
                  <a class="nav-item nav-link text-primary" href="#">Logout</a>

            </div>
      </div>
</nav>
 -->

<body>
      <div class="bs-example">
            <nav class="navbar navbar-expand-md navbar-light bg-dark">
                  <a href="#" class="navbar-brand">
                        <img src="../assets/images/booklogo.jpg" height="52" alt="Sharecare Bookstore">
                  </a>
                  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                  </button>

                  <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav  ">
                              <a [routerLink]="['/adminhomepage/userlist']" routerLinkActive="active"
                                    class="nav-item nav-link text-light  " style="font-size: 20px;">User
                                    List </a>
                              <a [routerLink]="['/adminhomepage/booklist']" routerLinkActive="active"
                                    class="nav-item nav-link text-light " style="font-size: 20px;">Book
                                    List</a>
                              <a class="nav-item nav-link text-light " [routerLink]="['/adminhomepage/creativitylist']"
                                    routerLinkActive="active" style="font-size: 20px;">Creativity Gallery</a>
                              <a class="nav-item nav-link text-light  " [routerLink]="['/adminhomepage/donationlist']"
                                    routerLinkActive="active" style="font-size: 20px;">Donation List</a>
                              <a class="nav-item nav-link text-light " style="text-align: right;" href="#"
                                    style="font-size: 20px;">Logout</a>
                        </div>

                  </div>
            </nav>
      </div>
</body>
<router-outlet></router-outlet>