<div class="header_main">
      <app-header></app-header>
      <div class="container" style="max-width: 500px;">
            <h2 class="heading-s">Sign-In</h2>
            <form #loginform="ngForm" (ngSubmit)="loginUser()">
                  <small class="text-danger"
                        *ngIf="(email.invalid || email.touched) && (password.invalid || password.touched )">{{msg}}</small>
                  <div class="form-group" [class.has-success]="email.valid">
                        <label class="control-label col-sm-2 field" for="email">Email:</label>
                        <div class="col-sm-10">
                              <input type="email" class="form-control " placeholder="Enter email" name="email"
                                    [(ngModel)]="user.email" required pattern="[a-z]+[a-z0-9]+@[a-z.]+\.[a-z]{2,}$"
                                    #email="ngModel">

                              <!-- <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email Id is required field</small> -->
                              <div *ngIf="email.errors && (email.invalid && email.touched)">
                                    <small class="text-danger" *ngIf="email.errors.required">Email id is
                                          required field</small>
                                    <small class="text-danger" *ngIf="email.errors.pattern">Enter the
                                          valid Email ID</small>
                              </div>
                        </div>
                  </div>
                  <div class="form-group" [class.has-success]="email.valid">
                        <label class="control-label col-sm-2 field" for="pwd">Password:</label>
                        <div class="col-sm-10">
                              <input type="password" class="form-control" placeholder=" Enter password" name="password"
                                    [(ngModel)]="user.password" required #password="ngModel"
                                    [class.is-invalid]="password.invalid && password.touched" minlength=3 maxlength=10>
                              <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password
                                    is required field</small>
                              <span class="help-block text-danger" *ngIf="password.hasError('minlength')">
                                    password is too short
                              </span>
                              <span class="help-block text-danger" *ngIf="password.hasError('maxlength')">
                                    password is too large
                              </span>
                        </div>
                  </div>
                  <!-- <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                              <div class="checkbox">
                                                        <label><input type="checkbox" name="remember"> Remember me</label>
                                              </div>
                                    </div>
                          </div> -->
                  <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10 ">
                              <button type="submit" class="btn btn-info" [disabled]="loginform.invalid">LogIn</button>
                              <button type="reset" class="btn1 btn btn-danger">Reset</button>
                        </div>
                  </div>
                  <p>Dont have an account? <span><a href="/registration">Signup</a></span></p>
                  <p>Forgot Password? <a href="/forgotpassword"><span> Click here </span> </a></p>
            </form>
      </div>
</div>