<div class="container col-md-4">
      <div class="form-sec">
            <h3 style="color: blue;">Edit Profile</h3>
            <div class="mx-auto">
                  <form>
                        <!-- {{bookModel |json}} -->
                        <div class="form-group">
                              <label>First Name</label>
                              <input type="text" class="form-control" placeholder="Enter First Name" name="firstName">

                        </div>
                        <div class="form-group">
                              <label>Last Name</label>
                              <input type="text" class="form-control" placeholder="Enter Last Name" name="LasttName">

                        </div>
                        <div class="form-group">
                              <label>Email</label>
                              <input type="text" class="form-control" placeholder="Enter Email Id" name="EmailId">

                        </div>
                        <div class="form-group">
                              <label>Password</label>
                              <input type="password" class="form-control" placeholder="Enter Password" name="Password">

                        </div>
                        <div class="form-group">
                              <label>Confirm Password</label>
                              <input type="password" class="form-control" placeholder="Enter Cofirm Password"
                                    name="ConfirmPassword">

                        </div>
                        <div class="form-group">
                              <label>Contact Number</label>
                              <input type="text" class="form-control" placeholder="Enter Contact Number"
                                    name="ContactNumber">

                        </div>

                        <div class="form-group">
                              <button type="submit" class="btn btn-danger float-right">Cancel</button>
                              <button type="submit" class="btn btn-success">Save Changes</button>
                        </div>
                  </form>
            </div>
      </div>
</div>