<!-- <div class="container col-md-4">
      <div class="form-sec">
            <h3 style="color: blue;">Edit Profile</h3>
            <div class="mx-auto">
                  <form>
                      
                        <div class="form-group">
                              <label>First Name</label>
                              <input type="text" class="form-control" name="firstName" [(ngModel)]="user.firstName"
                                    required pattern="^[a-zA-Z_]+$" #firstName="ngModel"
                                    [class.is-invalid]="firstName.invalid && firstName.touched">
                            

                        </div>
                        <div class="form-group">
                              <label>Last Name</label>
                              <input type="text" class="form-control" name="lastName" [(ngModel)]="user.lastName"
                                    required pattern="^[a-zA-Z_]+$" #lastName="ngModel"
                                    [class.is-invalid]="lastName.invalid && lastName.touched">
                            
                        </div>
                        <div class="form-group">
                              <label>Email</label>
                              <input type="text" class="form-control" name="EmailId">

                        </div>
                        <div class="form-group">
                              <label>Password</label>
                              <input type="password" class="form-control" name="Password">

                        </div>
                        <div class="form-group">
                              <label>Confirm Password</label>
                              <input type="password" class="form-control" name="ConfirmPassword">

                        </div>
                        <div class="form-group">
                              <label>Contact Number</label>
                              <input type="text" class="form-control" placeholder="Enter Contact Number"
                                    name="ContactNumber">

                        </div>

                        <div class="form-group">
                              <button type="submit" class="btn btn-danger float-right">Cancel</button>
                              <button type="submit" class="btn btn-success">Save Changes</button>
                        </div>
                  </form>
            </div>
      </div>
</div> -->
<app-innerheader></app-innerheader>
<!-- <div *ngIf="user">
      <h3>Hello {{user.firstName}}</h3>
      <input type=" text" First Name :{{user.firstName}}>
First Name: {{user.firstName}}
Last Name :{{user.lastName}}
Email :{{user.email}}
Contact No: {{user.phoneNo}}

</div> -->

<div *ngIf="user">
      <h3>Hello {{user.firstName}}</h3>
      <!-- <input type=" text" First Name :{{user.firstName}}> -->
      First Name: {{user.firstName}}<br>
      Last Name :{{user.lastName}}<br>
      Email :{{user.email}}<br>
      Contact No: {{user.phoneNo}}

</div>

<div>
      <a href="/editprofile/{{user.id}}">Edit
            Profile</a>
</div>