<div class="container" style="max-width: 600px;background-color: white;">
      <h2 class="text">Sign-up Form</h2>
      <form #registrationform="ngForm" (ngSubmit)="registerNow()">
            <small class="text-danger">{{msg}}</small>

            <div class="form-group">
                  <label for="firstName">First Name:</label>

                  <input type="text" class="form-control" placeholder="Enter first Name" name="firstName"
                        [(ngModel)]="user.firstName" required pattern="^[a-zA-Z_]+$" #firstName="ngModel"
                        [class.is-invalid]="firstName.invalid && firstName.touched">
                  <div *ngIf="firstName.errors && (firstName.invalid && firstName.touched)">
                        <small class="text-danger" *ngIf="firstName.errors.required">First Name is
                              required field</small>
                        <small class="text-danger" *ngIf="firstName.errors.pattern">Only Characters are allowed</small>

                  </div>
            </div>

            <div class="form-group">
                  <label for="lastName">Last Name:</label>

                  <input type="text" class="form-control" placeholder="Enter Last Name" name="lastName"
                        [(ngModel)]="user.lastName" required pattern="^[a-zA-Z_]+$" #lastName="ngModel"
                        [class.is-invalid]="lastName.invalid && lastName.touched">
                  <div *ngIf="lastName.errors && (lastName.invalid && lastName.touched)">
                        <small class="text-danger" *ngIf="lastName.errors.required">Last Name is
                              required field</small>
                        <small class="text-danger" *ngIf="lastName.errors.pattern">Only Characters are allowed</small>

                  </div>
            </div>


            <div class="form-group">
                  <label for="email">Email:</label>

                  <input type="email" class="form-control" placeholder="Enter email" name="email"
                        [(ngModel)]="user.email" required pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" #email="ngModel"
                        [class.is-invalid]="email.invalid && email.touched">
                  <div *ngIf="email.errors && (email.invalid && email.touched)">
                        <small class="text-danger" *ngIf="email.errors.required">Email id is
                              required field</small>
                        <small class="text-danger" *ngIf="email.errors.pattern">Enter the
                              valid Email ID</small>

                  </div>
            </div>
            <div class="form-group" [class.has-success]="email.valid">
                  <label class="control-label col-sm-2" for="pwd">Password:</label>

                  <input type="password" class="form-control" placeholder=" Enter password" name="password"
                        [(ngModel)]="user.password" required #password="ngModel"
                        [class.is-invalid]="password.invalid && password.touched" minlength=3 maxlength=10>
                  <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password
                        is required field</small>
                  <span class="help-block text-danger" *ngIf="password.hasError('minlength')">
                        password is too short
                  </span>
                  <span class="help-block text-danger" *ngIf="password.hasError('maxlength')">
                        password is too large
                  </span>
            </div>

            <div class="form-group">
                  <label for="pwd">Confirm PAssword</label>
                  <input type="password" name="cpassword" id="cpassword" class="form-control"
                        placeholder="Enter Confirm Password" #cpassword="ngModel" (ngModel)="user.password" required
                        [class.is-invalid]="cpassword.invalid && cpassword.touched">
                  <small class="text-danger"
                        [class.d-none]="(cpassword.value == password.value) || cpassword.untouched">Password and
                        confirm password must be same</small>
            </div>

            <div class="form-group">
                  <label for="phoneNo">Contact Number:</label>

                  <input type="tel" class="form-control" placeholder="Enter Contact Number" name="phoneNo"
                        [(ngModel)]="user.phoneNo" required pattern="[7-9]{1}[0-9]{9}" #phoneNo="ngModel"
                        [class.is-invalid]="phoneNo.invalid && phoneNo.touched" minlength=10 maxlength=10>
                  <div *ngIf="phoneNo.errors && (phoneNo.invalid && phoneNo.touched)">
                        <small class="text-danger" *ngIf="phoneNo.errors.required">Contact Number is
                              required field</small>
                        <small class="text-danger" *ngIf="phoneNo.errors.pattern">Enter valid 10 digit Mobile
                              Number</small>

                  </div>
            </div>

            <button type="submit" class="btn btn-info" [disabled]="registrationform.invalid">Register</button>
            <button type="reset" class="btn btn-danger">Reset</button>
            <button class="float-right btn btn-primary" [routerLink]="['/login']"> Existing User ? Login Here</button>

      </form>
      <br>
</div>
<!-- Nidhi code -->

<!-- <div class="container signup-container justify-content-center">
      <div class="row">

            <div class="col-md-6 signup-form-1 d-flex justify-content-center">
                  <img src="assets/daria-nepriakhina-xY55bL5mZAM-unsplash.jpg" alt="bg img" style="width:100%; ">

            </div>
            <div class="col-md-6 signup-form-2">
                  <h3>Register Here!!!</h3>
                  <form #registerForm="ngForm">
                        <div class="form-group">
                              <div><b>First Name</b></div>
                              <input name="firstName" class="form-control" placeholder="First Name" id="firstName"
                                    type="text" [(ngModel)]="user.firstName" required pattern="^[a-zA-Z_]+$"
                                    title="Only Characters are allowed" required #userFirstName="ngModel"
                                    [class.is-invalid]="userFirstName.invalid && userFirstName.touched"
                                    [class.is-valid]="userFirstName.valid && userFirstName.touched">


                              <div *ngIf="userFirstName.errors && (userFirstName.invalid && userFirstName.touched)">
                                    <small class="text-white" *ngIf="userFirstName.errors.required">First name is
                                          required</small>
                                    <small class="text-white" *ngIf="userFirstName.errors.pattern">Enter Valid First
                                          name</small>
                              </div>
                        </div>

                        <div class="form-group">
                              <div><b>Last Name</b></div>
                              <input name="lastName" class="form-control" placeholder="Last Name" id="lastName"
                                    type="text" [(ngModel)]="user.lastName" required pattern="^[a-zA-Z_]+$"
                                    title="Only Characters are allowed" required #userLastName="ngModel"
                                    [class.is-invalid]="userLastName.invalid && userLastName.touched"
                                    [class.is-valid]="userLastName.valid && userLastName.touched">


                              <div *ngIf="userLastName.errors && (userLastName.invalid && userLastName.touched)">
                                    <small class="text-white" *ngIf="userLastName.errors.required">Last name is
                                          required</small>
                                    <small class="text-white" *ngIf="userLastName.errors.pattern">Enter Valid Last
                                          name</small>
                              </div>
                        </div> -->


<!-- <div class="form-group">
                      <div><b>User Name</b></div>
                      <input name="userName" class="form-control" placeholder="User Name" id="userName" type="text"
                          [(ngModel)]="user.userName" required pattern="^[a-zA-Z_]+$" title="Only Characters are allowed"
                          required #userUserName="ngModel"
                          [class.is-invalid]="userUserName.invalid && userUserName.touched"
                          [class.is-valid]="userUserName.valid && userUserName.touched">
  
  
                      <div *ngIf="userUserName.errors && (userUserName.invalid && userUserName.touched)">
                          <small class="text-white" *ngIf="userUserName.errors.required">User name is
                              required</small>
                          <small class="text-white" *ngIf="userUserName.errors.pattern">Enter Valid User
                              name</small>
                      </div>
                  </div> -->





<!-- <div class="form-group">
                      <div><b>Confirm Password</b></div>
                      <input name="cnfPassword" class="form-control" placeholder="Confirm Password" id="cnfPassword"
                          type="password" [(ngModel)]="user.cnfPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                          required minlength="8"
                          title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                          required #usercnfPassword="ngModel"
                          [class.is-invalid]="usercnfPassword.invalid && usercnfPassword.touched"
                          [class.is-valid]="usercnfPassword.valid && usercnfPassword.touched">
  
  
                      <div *ngIf="usercnfPassword.errors && (usercnfPassword.invalid && usercnfPassword.touched)">
                          <small class="text-white" *ngIf="usercnfPassword.errors.required">Confirm Password is
                              required</small>
                          <small class="text-white" *ngIf="usercnfPassword.errors.pattern">Enter Valid Confirm
                              Password</small>
                          <small class="text-white"
                              [class.d-none]="(usercnfPassword.value == user.password.value) ||usercnfPassword.untouched">
                              and Password and Confirm password must be same</small>
                      </div>
  
                  </div> -->

<!-- <div class="row form-group">

                              <div class="col-6">
                                    <a href="login">Already registered user</a>
                              </div>
                        </div>


                        <div class=" row form-group">
                              <div class="form-group">
                                    <button class="btn btn-outline-warning text-light" type="submit"
                                          [disabled]="registerForm.form.invalid" (click)="register()"
                                          style="color: white">REGISTER</button>
                              </div>
                              <div class="form-group">
                                    <button class="btn btn-outline-warning text-light" type="reset"><a
                                                style="color: white;" href="registration">RESET</a></button>
                              </div>
                        </div> -->

<!-- <div class="text-left mb-3">
                      <button [disabled]="registerFrom.form.invalid" type="submit" class="btn">Register</button>
                  </div> -->

<!-- </form>

            </div>
      </div>
</div> -->