<!-- <div class="page-wrap d-flex flex-row align-items-center main-c ">
      <div class="container">
            <div class="row justify-content-center">
                  <div class="col-md-12 text-center">
                        <span class="display-3 d-block text1">404</span>
                        <div class="mb-4 lead text2">The page you are looking for was not found.</div>
                        <a href="#" class="btn btn-link text3">Back to Home</a>
                  </div>
            </div>
      </div>
</div> -->
<div class="row ">
      <div class="col-md-12">
            <img src="https://internetdevels.com/sites/default/files/public/blog_preview/404_page_cover.jpg" alt="">

      </div>
</div>
<div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-4">


            <button class="btn btn-success btn-lg"><a href="/login" style="color: antiquewhite;">Back to
                        Home</a></button>
      </div>
      <div class="col-md-4"></div>
</div>