<nav class="navbar navbar-expand-lg navbarmain ">
  <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="logo">
    <a href="indexpage">
      <h2><i>SHARECARE BOOKSTORE</i></h2>
    </a>
  </div>


  <div class="collapse navbar-collapse  " id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
      <li class="nav-item ">

      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">UploadBook</a>
      </li>

      <li class="nav-item">
        <a class="nav-link " href="/creativity">AddCreativity</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">ArtisticBlock
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Donation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#"> MyProfile</a>
      </li>

      <li class="nav-item">
        <a class="nav-link " href="#">LogOut </a>
      </li>

    </ul>
    <!--<form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>-->
  </div>
</nav>