<div class="container">
      <div class="thankyou-content text-center">
            <h1 class="display-3">Thank You!</h1>
            <p class="lead"><strong>With each donation we receive,we become all that much closer to our
                        goal.</strong><br> Thank you for making a difference through your compassion and generosity.</p>

            <hr>
            <br>
            <p>
                  for all enquiries <a href="">Contact us</a>
            </p>
            <p class="lead">
                  <button class="btn btn-primary btn-sm" type="submit" [routerLink]="['/homepage']">Continue to
                        homepage</button>
            </p>
      </div>
</div>