<nav class="navbar navbar-expand-lg bg-dark fixed-top">
      <a class="navbar-brand" href="#">
            <img src="assets/images/logo1.png" width="30" height="30" class="d-inline-block align-top" alt="">
      </a>
      <a class="navbar-brand text-light" href="#">SHARECARE BOOK STORE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mx-auto">

                  <li class="nav-item">
                        <a class="nav-link text-light" href="/homepage">Home</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link text-light" routerLink="/uploadbook">Upload Book</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link text-light" href="/donation">Donation</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link text-light" href="/creativity">AddCreativity</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link text-light" href="/creativitygallery">ArtisticBlock</a>
                  </li>

                  <li class="nav-item">
                        <a class="nav-link text-light" routerLink="/MyProfile">MyProfile</a>
                  </li>
                  <li>
                        <a class="nav-link text-light" routerLink="/shop">Shop</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link text-light" routerLink="/Cart">LogOut</a>
                  </li>

            </ul>
      </div>
</nav>