<div class="row">
      <div class="col-md-3"></div>

      <div class="col-md-8 ">
            <form class="form-inline mr-auto mb-4 mt-2">
                  <input class="form-control col-md-8  seracharea" type="text" name="bookTitle" [(ngModel)]="bookTitle"
                        placeholder="Search" aria-label="Search">

                  <button class="btn btn-indigo btn-rounded btn-sm my-0 waves-effect waves-light btn1" type="submit"
                        (click)="getBookByTitle()">Search</button>
            </form>
      </div>
      <div class=" col-md-2 "></div>

</div>
<!-- 
<div class=" col-md-12">
                        <div class="row">
                              <div class="col-md-10">
                                    <input class="form-control" type="text" #searchInput placeholder="Search"
                                          aria-label="Search">

                              </div>
                              <div class="col-md-2">
                                    <button type="submit" (click)="searchBooks(searchInput.value)"
                                          class="btn btn-primary">Search

                                    </button>
                              </div>

                        </div>

      </div> -->