<nav class="navbar navbar-expand-lg navbarmain ">
   <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
   <div class="header">
      <div class="container">
         <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
               <div class="full">
                  <div class="center-desk">
                     <div class="logo">
                        <a href="#indexpage">
                           <img src="assets/images/finallogo51.jpeg" style="max-width: 100%;border-radius: 60%;">
                        </a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
               <div class="menu-area">
                  <div class="limit-box">
                     <nav class="main-menu collapse navbar-collapse  " id="navbarTogglerDemo03">
                        <ul class="menu-area-main">
                           <li class="nav-item"><a class="nav-link" href="#indexpage">Home</a></li>
                           <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                           <li class="nav-item"><a class="nav-link" href="#contact">Contact Us</a></li>
                           <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                           <li class="nav-item"><a class="nav-link" href="/registration">Registration</a></li>
                        </ul>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</nav>