<app-homeheader></app-homeheader>

<div class="container col-md-4">
      <div class="form-sec">
            <h3>Creativity </h3>
            <div class="mx-auto">
                  <form #CreativityForm="ngForm" (ngSubmit)="addCreativity()">
                        <!-- {{CreativityForm.value|json}} -->
                        <!-- <div class="form-group">
                  <label>Email</label>
                  <input type="email" required pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" #email="ngModel" [(ngModel)]="artisticModel.email" class="form-control " [class.is-invalid]="email.invalid && email.touched"   placeholder="Enter your Email-Id" name="email">
                  <small class="text-danger"  [class.d-none]='email.valid || email.untouched'>Email-Id is required and must of pattern example@ex.com</small>
              </div> -->
                        <!-- {{email.className}} -->
                        <!-- {{email.untouched}} -->
                        <br>
                        <div class="form-group ">
                              <label>Content</label>
                              <textarea name="content" required #msg="ngModel" [(ngModel)]="artisticModel.content"
                                    class="form-control" [class.is-invalid]="msg.invalid && msg.touched"
                                    placeholder="Creativity"></textarea>
                              <small class="text-danger" [class.d-none]='msg.valid || msg.untouched'>Message is
                                    required</small>
                        </div>

                        <br>
                        <div class="form-group">
                              <button type="submit" class="btn btn-danger">Submit</button>
                        </div>
                  </form>
            </div>
      </div>
</div>