<section class="dashboard-wrap mtb-40">
      <div class="container">
            <div class="body-content">
                  <div class="row">
                        <div class="col-md-12">
                        </div>
                        <div class="col-md-9">
                              <div class="dash-right">
                                    <div class="dash-header">
                                          <div class="dash-title">
                                                <!-- <h1 style="color: brown;text-align: center;">{{title}}</h1> -->
                                          </div>

                                    </div>
                                    <table class="table table-bordered table-striped ">
                                          <tr>
                                                <!-- <th>#ID</th> -->
                                                <th>Email</th>
                                                <th>Donation date</th>
                                                <th>Payment mode</th>
                                                <th>Amount</th>
                                          </tr>
                                          <tr *ngFor="let donation of alluser">
                                                <!-- <td>{{donation.}}</td> -->
                                                <td>{{donation.demail}}</td>
                                                <td>{{donation.ddate}}</td>
                                                <td>{{donation.paymentmode}}</td>
                                                <td>{{donation.amount}}</td>

                                                <!-- <td>

                                                      <a (click)="deleteUser(user.id)"
                                                            class="btn btn-danger btn-sm">Delete</a>
                                                </td> -->
                                          </tr>
                                    </table>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</section>