<!-- <h2>With each donation we receive,we become all that much closer to our goal. </h2>
<h2>Thank you for making a difference through your compassion and generosity.</h2>

<button type="submit" class="btn btn-info col-sm-6" [routerLink]="['/homepage']">Close</button> -->
<app-innerheader></app-innerheader>
<div class="container">

      <div class="thankyou-content text-center">
            <h3 class="display-3">Thank You!🙂</h3>

            <p class="lead"><strong>For Choosing Us</strong>
                  <br> Your Book Will Deliver After 7 Days
            </p>

            <hr>
            <br>
            <p>
                  for all enquiries <a href="/contactus" class="linkus">Contact us</a>
            </p>
            <p class="lead">
                  <button class="btn btn-primary btn-sm" type="submit" [routerLink]="['/homepage']">Continue to
                        homepage</button>
            </p>
      </div>

</div>